.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ocupa a tela toda */
  }
  
  .banner {
    width: 1000px;
    height: 400px;
  }
  
