.produtos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.produto {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.preco {
    font-weight: bold;
    color: #000;
}

.add-to-cart {
    background: hsl(135, 90%, 42%);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}